/* Configuração padrão para computadores */
html {
    font-size: 16px;
}

/* Quando a tela for menor que 992px (Tablets e Menus do Bootstrap) */
@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
    .navbar-brand, .nav-link {
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 0.95rem;
    }
}
@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .navbar-brand, .nav-link {
        padding-left: 2px !important;
        padding-right: 5px !important;
        font-size: 0.90rem;
    }
}
/* Quando a tela for menor que 576px (Celulares) */
@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
    .navbar-brand {
        font-size: 0.85rem;
    }
}

/* Espaçamento para o rodapé fixo */
body { 
    padding-bottom: 60px; 
}

.titulo-receita {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.btn-favorito {
    line-height: 1;
    text-decoration: none;
}


.btn-favorito:hover .icone-favorito {
    transform: scale(1.15);
}
.icone-favorito {
    font-size: 1.8rem;
    transition: 0.5s;
}
.icone-favorito:hover {
    transform: scale(1.1);
}
/* Base para todos os ícones com balão descritivo */
.tooltip-social {
    position: relative;
    display: inline-block;
    font-size: 1.25em; /* Tamanho padronizado para todos os ícones de ação */
    text-decoration: none;
    transition: transform 0.1s ease;
}

.tooltip-social:hover {
    transform: scale(1.1); /* Um leve destaque ao passar o mouse */
}

/* Configuração do balão explicativo usando padrão escuro do Bootstrap */
.tooltip-social::after {
    content: attr(data-texto);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #212529; /* Cor dark do Bootstrap */
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.7em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
    z-index: 100;
}

.tooltip-social:hover::after {
    opacity: 1;
}

/* Categorias de Ações (Cores baseadas no Bootstrap) */

/* CADASTRAR / ADICIONAR (Padrão Success - Verde) */
.tooltip-cadastrar {
    color: #ffc107;
}
.tooltip-cadastrar:hover {
    color: #ffc107;
}

/* VISUALIZAR / DETALHES (Padrão Info/Primary - Azul) */
.tooltip-visualizar {
    color: #198754;
    
}
.tooltip-visualizar:hover {
    color: #198754;
}

/* EDITAR / ALTERAR (Padrão Warning/Orange - Laranja) */
.tooltip-editar {
    color: #0d6efd;
}
.tooltip-editar:hover {
    color: #0d6efd;
}

/* EXCLUIR / REMOVER (Padrão Danger - Vermelho) */
.tooltip-excluir {
    color: #dc3545;
}
.tooltip-excluir:hover {
    color: #b02a37;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #010509 !important; /* Cor escurecida (padrão Dark do Bootstrap) */
    color: #fff !important;              /* Garante que o texto fique branco */
}