{% extends 'base.html' %}
{% block 'menu'%} <a class="navbar-brand" href="{% url 'cadastrar_receita' %}">Cadastrar Receita</a>{% endblock %}
{% block 'conteudo' %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Receita</th>
        <th scope="col">Criador</th>
        <th scope="col">Data Cadastro</th>
        <th scope="col">Detalhes</th>
      </tr>
    </thead>
    <tbody>
        {% for receita in Receitas %}
        <tr>
        
        <th scope="row">{{receita.id}}</th>
        <td>{{receita.nome}}</td>
        <td>{{receita.usuario}}</td>
        <td>{{receita.data_cadastro}}</td>
        <td><a href="{% url 'mostrar_receita' %}?receita={{ receita.id }}">Link</a>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock  %}