<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block 'head' %} {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'bolo3.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- project css-->
    <link rel="stylesheet" href="{% static 'css/design.css' %}">

    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Livro de Receitas</a>
        {% block 'menu' %} {% endblock %}
        {% if  user.username  %}
        <a class="navbar-brand" href="{% url 'sair' %}">Sair de {{ user.username }}</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'sair' %}">Sair </a>
        {% endif %}
      
      </nav>
      {# BLOCO DE MENSAGENS DO DJANGO #}
    {% if messages %}
    <div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% elif message.tags == 'success' %}alert-success
                {% elif message.tags == 'info' %}alert-info
                {% else %}alert-secondary{% endif %} 
                text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endif %}
    {% block 'conteudo' %} {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" </script>



<footer class="fixed-bottom text-center py-2 border-top">
        <p class="text-muted small my-0">
            By Eric Augustin - 
            <a href="mailto:ericaugustin@gmail.com" class="text-decoration-none text-muted">
                ericaugustin@gmail.com
            </a>
        </p>
    </footer>

    <style>
        body {
            padding-bottom: 60px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>

</html>