
<<a class="navbar-brand" href="{% url 'gerenciar_unidades' %}">Gerenciar Unidade</a>
<a class="navbar-brand" href="{% url 'cadastrar_receita' %}">Cadastrar Receita</a>
<a class="navbar-brand" href="{% url 'cadastrar_grupo' %}">Criar Grupo</a>
<a class="navbar-brand" href="{% url 'meus_grupos_administrados' %}">Gerenciar meus Grupos</a>
<a class="navbar-brand" href="{% url 'meus_convites' %}">
    Convites 
    {% if total_convites > 0 %}
        <span class="badge bg-warning text-dark font-monospace" style="font-size: 0.75rem;">
            {{ total_convites }}
        </span>
    {% endif %}
</a>
{% if request.user.is_staff %}
   <a class="navbar-brand" href="{% url 'cadastrar' %}">Cadastrar Usuários</a>
{% comment %} {% else %}
    <a class="navbar-brand text-muted " href="#" tabindex="-1" aria-disabled="true">Cadastrar Usuários</a>  {% endcomment %}
{% endif %}


