/* Configuração padrão para computadores */
html {
    font-size: 16px;
}

/* Quando a tela for menor que 992px (Tablets e Menus do Bootstrap) */
@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
    .navbar-brand, .nav-link {
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 0.95rem;
    }
}
@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .navbar-brand, .nav-link {
        padding-left: 2px !important;
        padding-right: 5px !important;
        font-size: 0.90rem;
    }
}
/* Quando a tela for menor que 576px (Celulares) */
@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
    .navbar-brand {
        font-size: 0.85rem;
    }
}

/* Espaçamento para o rodapé fixo */
body { 
    padding-bottom: 60px; 
}