{% extends 'base.html'%}
{% block 'titulo'%} Login {% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <h1>Login</h1>
    {% if status == '0'%}
    <div class="alert alert-danger" role="alert">
        Cadastro realizado com sucesso, pode seguir com o login
      </div>
    {% endif %}
    {% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        Senha ou email incorretos!
      </div>
    {% endif %}
    {% if status == '2'%}
    <div class="alert alert-danger" role="alert">
        Usuario não logado, favor fazer o login!
      </div>
    {% endif %}
    <form method="POST" action="{% url 'validar_login' %}">
    {% csrf_token %}  
    
    <div class="mb-3">
        <label class="form-label">Nome de usuário</label>
        <input name="username" class="form-control" type="text" placeholder="username / nickname / email">
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <div class="input-group">
            <input name="senha" id="id_senha" class="form-control" type="password" placeholder="****">
            <button class="btn btn-outline-secondary" type="button" id="btn-senha" onclick="toggleSenha()">
                <i id="icone-senha" class="bi bi-eye"></i>
            </button>
        </div>
    </div>

    <div class="mt-4">
        <input class="btn btn-info btn-blue" type="submit" value="enviar">
        <a href="{% url 'cadastrar' %}" class="btn btn-warning btn-mg">Cadastrar</a>
    </div>
</form>

    
</div>
<script>
function toggleSenha() {
    const campoSenha = document.getElementById("id_senha");
    const icone = document.getElementById("icone-senha");

    if (campoSenha.type === "password") {
        campoSenha.type = "text";
        icone.className = "bi bi-eye-slash"; // Altera apenas a classe interna
    } else {
        campoSenha.type = "password";
        icone.className = "bi bi-eye"; // Volta para a classe inicial
    }
}
</script>
{% endblock %}
